<a href="https://colab.research.google.com/github/ahala12/Data-science-jobs/blob/main/Data%20science%20jobs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
https://github.com/ahala12/Data-science-jobs.git

SyntaxError: invalid syntax (<ipython-input-5-9058e3ae5623>, line 1)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Load the dataset
df = pd.read_csv('data_science job.csv')

print (df)

       enrollee_id      city  city_development_index gender  \
0             8949  city_103                   0.920   Male
1            29725   city_40                   0.776   Male
2            11561   city_21                   0.624    NaN
3            33241  city_115                   0.789    NaN
4              666  city_162                   0.767   Male
...            ...       ...                     ...    ...
19153         7386  city_173                   0.878   Male
19154        31398  city_103                   0.920   Male
19155        24576  city_103                   0.920   Male
19156         5756   city_65                   0.802   Male
19157        23834   city_67                   0.855    NaN

           relevent_experience enrolled_university education_level  \
0      Has relevent experience       no_enrollment        Graduate
1       No relevent experience       no_enrollment        Graduate
2       No relevent experience    Full time course        Graduate
3       No relevent experience                 NaN        Graduate
4      Has relevent experience       no_enrollment         Masters
...                        ...                 ...             ...
19153   No relevent experience       no_enrollment        Graduate
19154  Has relevent experience       no_enrollment        Graduate
19155  Has relevent experience       no_enrollment        Graduate
19156  Has relevent experience       no_enrollment     High School
19157   No relevent experience       no_enrollment  Primary School

      major_discipline  experience company_size    company_type  \
0                 STEM        20.0          NaN             NaN
1                 STEM        15.0        50-99         Pvt Ltd
2                 STEM         5.0          NaN             NaN
3      Business Degree         0.0          NaN         Pvt Ltd
4                 STEM        20.0        50-99  Funded Startup
...                ...         ...          ...             ...
19153       Humanities        14.0          NaN             NaN
19154             STEM        14.0          NaN             NaN
19155             STEM        20.0        50-99         Pvt Ltd
19156              NaN         0.0      500-999         Pvt Ltd
19157              NaN         2.0          NaN             NaN

       training_hours  target
0                36.0       1
1                47.0       0
2                83.0       0
3                52.0       1
4                 8.0       0
...               ...     ...
19153            42.0       1
19154            52.0       1
19155            44.0       0
19156            97.0       0
19157           127.0       0

[19158 rows x 13 columns]